# Projetos que serão ignorados e não serão enviados para o Github!
Projects\alura-space
Projects\AppForm
Projects\Docker

# Estudos que serão ignordos e não serão enviados para o Github!
Estudos\Lua
Estudos\Alura